<a href="https://colab.research.google.com/github/CoolCodeMan/intro2LT/blob/lauri/nlp-ryhm%C3%A44.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("nlp4")

nlp4

In [ ]:
import pandas as pd

In [ ]:
# !wget https://github.com/CoolCodeMan/intro2LT/blob/lauri/anger-dev.tsv
!wget -O anger-dev.tsv http://dl.turkunlp.org/TKO_8966_2021-projects/anger-annotation/dev.tsv

--2021-03-23 13:10:31--  http://dl.turkunlp.org/TKO_8966_2021-projects/anger-annotation/dev.tsv
Resolving dl.turkunlp.org (dl.turkunlp.org)... 195.148.30.23
Connecting to dl.turkunlp.org (dl.turkunlp.org)|195.148.30.23|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11672 (11K) [application/octet-stream]
Saving to: ‘anger-dev.tsv’

anger-dev.tsv       100%[===================>]  11.40K  --.-KB/s    in 0s

2021-03-23 13:10:31 (145 MB/s) - ‘anger-dev.tsv’ saved [11672/11672]

In [28]:
# path = '/content/anger-dev.tsv'
path = '/content/anger-dev.tsv'
df_anger = pd.read_csv(path, error_bad_lines=False, header=0, names=['emotion','text'], sep='\t')
df_anger.head()

     emotion                                               text
0  not-anger                Ois kiva tietää mitä mieltä olitte.
1  not-anger  Kohentaminen vaatii mielikuvitusta : mitä tehd...
2  not-anger  Siellä oli jäätä , ja minä onneton valitsin vä...
3      anger  Mutta mikä olet sinä tai kukaan muukaan nimitt...
4  not-anger  Se lienee tuskin ministerille juolahtanut miel...

In [ ]:
!wget -O joy-dev.tsv http://dl.turkunlp.org/TKO_8966_2021-projects/joy-annotation/dev.tsv

--2021-03-23 13:12:06--  http://dl.turkunlp.org/TKO_8966_2021-projects/joy-annotation/dev.tsv
Resolving dl.turkunlp.org (dl.turkunlp.org)... 195.148.30.23
Connecting to dl.turkunlp.org (dl.turkunlp.org)|195.148.30.23|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 9697 (9.5K) [application/octet-stream]
Saving to: ‘joy-dev.tsv’

joy-dev.tsv         100%[===================>]   9.47K  --.-KB/s    in 0s

2021-03-23 13:12:06 (134 MB/s) - ‘joy-dev.tsv’ saved [9697/9697]

In [27]:
path = '/content/joy-dev.tsv'
df_joy = pd.read_csv(path, error_bad_lines=False, header=0, names=['emotion','text'], sep='\t')
df_joy.head()

  emotion                                               text
0     joy  Haluan kiittää sekä puheenjohtajavaltio Belgia...
1     joy  Hiekkaranta näyttää upealta kesäisen auringonl...
2     joy                          Te pelastitte minut taas!
3     joy                     Vähän kallista, mutta hauskaa.
4     joy                         Minulla on onnellinen olo.

In [31]:
from sklearn.utils import shuffle

In [33]:
df = pd.concat([df_joy, df_anger])
df = shuffle(df)
df.reset_index(inplace=True, drop=True) 
df.head()

     emotion                                               text
0  not-anger  - luuston terveydestä ei ole pienintäkään enna...
1    not-joy              Rakkaassa vanhassa pahuksen koulussa.
2  not-anger  @KaisaNyberg Toivottavasti allergian aiheuttaj...
3      anger                     ÄIä koske häneen, senkin piru!
4      anger                    Minua ei solvata sillä tavalla.

In [35]:
labels = df['emotion']
dataset = df['text']

In [36]:
import sklearn
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
vectorizer=CountVectorizer(max_features=100000,binary=True,ngram_range=(1,4))
feature_matrix=vectorizer.fit_transform(dataset)
print("shape=",feature_matrix.shape)
print(feature_matrix)

shape= (300, 6736)
  (0, 2752)	1
  (0, 5657)	1
  (0, 408)	1
  (0, 3706)	1
  (0, 4450)	1
  (0, 658)	1
  (0, 2753)	1
  (0, 5658)	1
  (0, 449)	1
  (0, 3725)	1
  (0, 4451)	1
  (0, 2754)	1
  (0, 5659)	1
  (0, 462)	1
  (0, 3726)	1
  (0, 2755)	1
  (0, 5660)	1
  (0, 463)	1
  (1, 4726)	1
  (1, 6308)	1
  (1, 4271)	1
  (1, 2303)	1
  (1, 4727)	1
  (1, 6309)	1
  (1, 4272)	1
  :	:
  (298, 274)	1
  (298, 2842)	1
  (298, 5173)	1
  (298, 5726)	1
  (298, 923)	1
  (298, 4955)	1
  (298, 317)	1
  (299, 6717)	1
  (299, 703)	1
  (299, 6220)	1
  (299, 2004)	1
  (299, 5442)	1
  (299, 2267)	1
  (299, 6718)	1
  (299, 704)	1
  (299, 6221)	1
  (299, 2005)	1
  (299, 5443)	1
  (299, 6719)	1
  (299, 705)	1
  (299, 6222)	1
  (299, 2006)	1
  (299, 6720)	1
  (299, 706)	1
  (299, 6223)	1

In [41]:
for i in vectorizer.get_feature_names()[:100]:
  print(i)

000
000 dollaria
000 dollaria ei
000 dollaria ei voi
04
04 33028
04 33028 sort
04 33028 sort false
10
10 11
10 11 1953
10 11 1953 totesi
10 13
10 13 hintojen
10 13 hintojen korotusta
11
11 1953
11 1953 totesi
11 1953 totesi nykyaikaistamisen
13
13 hintojen
13 hintojen korotusta
13 hintojen korotusta vuodessa
155ieumdul
17
17 mrd
17 mrd euroa
17 mrd euroa josta
1953
1953 totesi
1953 totesi nykyaikaistamisen
1953 totesi nykyaikaistamisen rajoittuneen
2010
2010 04
2010 04 33028
2010 04 33028 sort
2vko
2vko ja
2vko ja muutama
2vko ja muutama päivä
33028
33028 sort
33028 sort false
33028 sort false miten
aamiaisen
aamiaisen pariin
aamiaisen pariin keittiöön
aamiaisen pariin keittiöön mutta
aamuinen
aamuinen kahvi
aamuinen kahvi oli
aamuinen kahvi oli kofeiiniriippuvaiselle
adam
ahteria
aiheuttaja
aiheuttaja ei
aiheuttaja ei ole
aiheuttaja ei ole koira
aiheuttanut
aiheuttanut pahaa
aiheuttanut pahaa oloa
aika
aika vain
aika vain suhahtaa
aika vain suhahtaa ohi
aikaa
aikaan
aikaani
aikaani sitten
aikaani sitten muistat
aikaani sitten muistat nimeni
aikaisemminkin
aikaisin
aikamoinen
aikamoinen mustelma
aikamoinen mustelma siin
aikamoinen mustelma siin on
aikana
aikana aikaisemminkin
aikuisen
aikuisen nimilappua
aina
aina japsirautojen
aina japsirautojen ohi
aina japsirautojen ohi että
aina mene
aina mene perille
aina mene perille vaikka
aina ollut
aina ollut se
aina ollut se että
aina se
aina se auto
aina se auto pysäkillä
aina sotkuinen
aina sotkuinen ihminen
aina sotkuinen ihminen kukaan
aina suuren
aina suuren vaikutuksen
ainakaan

In [42]:
import sklearn.svm

In [45]:
classifier=sklearn.svm.LinearSVC(C=0.005,verbose=1)
classifier.fit(feature_matrix, labels)

[LibLinear]

LinearSVC(C=0.005, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=1)

In [46]:
print("DEV", classifier.score(feature_matrix, labels))

DEV 0.81